@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/* UniverSal Stylling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styly apply on full body */
body{
    position: relative;
    background: url("image/Picsart_23-01-20_11-28-37-962.jpg") no-repeat fixed center;
    background-size: 100% 100%;
    font-family: "Roboto", sans-serif;
}
/* Header (Navigation-Bar) Stylling  */
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 15px;
    color: wheat;
    background-color: rgb(170, 54, 54);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.logo img {
    width: 45px;
    height: 45px;
    padding: 5px;
}

/* Search Box And Input Box Stylling */
.search {
    width: 35%;
}
.search input {
    width: 75%;
    color: white;
    padding: 14px;
    border: 1px solid black;
    border-radius: 40px 40px 40px 40px;
    background-color: transparent;
}
.search input:focus{
    outline: none;
}
::placeholder {
    color: rgb(192, 189, 189);
    opacity: 1;
}

/* FavourtieLiest Sidebar Stylling */
.favoutieitembox{
    background: rgba(218, 82, 82, 0.6);
    justify-content: center;
    position:fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 76px;
    right: 0;
    width: 0;
    height: 92%;
    z-index:1;
    transition: 0.5s ease-in-out;
}

/* Meal Body Stylling Start */
.mealbox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 10%;
}
.box{
    width: 30%;
    margin: 7px;
    position: relative;
    text-align: center;
    background-color: rgb(202 176 131);
}
.box img{
    width: 100%;
    height: 100%;
}
/* Meal Name stylling */
.heading{
    position: absolute;
    padding: 10px;
    bottom: 62px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
}

.button-box{
    display: flex;
    margin: 5px;
    justify-content:space-between;
}
.btn{
    color: rgb(71, 68, 68);
    cursor: pointer;
    font-size: 1.1rem;
    margin:5px 0;
    padding: 5px;
    background: transparent;
    border: 1px solid hsl(0, 0%, 12%);
}
.icon{
    border: none;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.btn:hover{
    background-color: #a44848;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    transition: 0.8s all;
}

/* meal Detail Pop-up Stylling */
.mealdetail{
    display: none;
    position: fixed;
    top: 83px;
    left: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    background-color: #a44848;
    text-align: center;
    width: 85%;
    height: 85%;
    padding: 45px;
    z-index: 2;
}
.mealdetail img{
    width: 85%;
    height: 500px;
    padding: 20px;
}
.crossbut{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border-radius: 50%;
}
.video-btn{
    padding: 5px;
    background: #f7e9e9;
    border: 0;
    border-radius: 5px;
}
.video-btn a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.text{
    padding: 5px;
}
.para{
    color: rgba(231, 223, 223, 0.714);
}
/* favouriteBox Stylling Start */
.favbox{
    width: 95%;
    max-height: 100%;
    text-align: center;
    margin: 10px;
    padding: 5px;
    background-color: #a47545;
}
.favbox img{
    width: 80%;
    height: 70%;
    border-radius: 50%;
}
.favheading{
    padding: 5px;
    color: #f1f1f1;
    width: 100%;
}
/* width */
body ::-webkit-scrollbar {
    width: 0px;
  }
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  .alert{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .alert-box {
    display: block;
    background-color: white;
    position: fixed;
    padding: 65px;
    padding-bottom: 15px;
    top: 200px;
    border-radius: 20px;
    z-index:3;
}
.circle{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: 41%;
    border-radius: 50%;
    background: #b83131b3;
    border: 4px solid black;
}
.alert-box h1{
    color: #b11b1b;
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 30px;
}
.alert-box p{
    font-weight: 500;
    letter-spacing: 2px;
}
.btn1{
    width: 85px;
    height: 34px;
    cursor: pointer;
    padding: 6px;
    margin: 12px 30px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #a44848;;
    color: #a44848;;
}
.btn1:hover{
    background-color: #a44848;
    color: white;
    border: 1px solid black;
    transition: 0.5s all;
}
.icon-pop1,.icon-pop2,.icon-pop3{
    color: white;
    position: absolute;
    font-size: 4.2rem;
    text-align: center;
    top: 0;
    left: 6px;
}
